body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d1e7dd; /* Fondo verdoso */
    margin: 0;
    color: #000; /* Letras negras */
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    max-width: 300px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #000; /* Letras negras */
}

.countdown {
    font-size: 2em;
    color: #333;
    display: flex;
    justify-content: center;
}

.countdown div {
    margin: 0 10px;
    text-align: center;
}

.countdown div span {
    display: block;
    font-size: 1.5em;
}

.countdown div small {
    font-size: 0.8em;
    color: #666;
}
