body{
    background-color: #20d3a4!important; /* Fondo verdoso */
}
.btn-custom-one{
    background-color: #9333ea!important; /* Fondo blanco */
    color: #fff!important; /* Texto gris */
    border-color: #6d28d9!important; /* Borde blanco */

}
.btn-custom-two{
    background-color: #db2777!important; /* Fondo azul */
    color: #fff!important; /* Texto blanco */
    border-color: #be185d!important; /* Borde azul */

}
.countdown {
    display: flex;
    color: #20d3a4;
    justify-content: center;
}

.countdown div {
    text-align: center;
}

.countdown div span {
    font-size:4em;
    display: block;
    font-weight: 600;
}

.countdown div small {
    font-size:1em;
    color: #666;
}

.nutria-sugerencia{
    display: flex;
    flex-direction: column;
    color: #6d28d9;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}