h2{
    color: #20d3a4!important; /* Fondo verdoso */
}
.bg-custom-green{
    background-color: #20d3a4!important; /* Fondo verdoso */
    background: #20d3a4!important; /* Fondo verdoso */
}
.bg-custom-violet{
    background-color: #c4b5fd!important; /* Fondo blanco */
    color: #fff!important; /* Texto gris */
}

.navbar-nav li a{
    color: #fff; /* Texto blanco */
    font-weight: 700!important; /* Negrita */
    cursor: pointer;
}
.navbar-nav li a .nav-link .active{
    color: #000!important; /* Texto blanco */
    font-weight: 700!important; /* Negrita */
    cursor: pointer;
}
.btn-custom-one{
    background-color: #9333ea!important; /* Fondo blanco */
    color: #fff!important; /* Texto gris */
    border-color: #6d28d9!important; /* Borde blanco */

}
.btn-custom-two{
    background-color: #a78bfa!important; /* Fondo azul */
    color: #fff!important; /* Texto blanco */
    border-color: #a78bfa!important; /* Borde azul */

}
.countdown {
    display: flex;
    color: #20d3a4;
    justify-content: center;
}

.countdown div {
    text-align: center;
}

.color-aguinaldo{
    color: #9333ea!important;
}
.span-aguinaldo p {
    font-size: 2.5rem;
}

.countdown div span {
    font-size:3em;
    display: block;
    font-weight: 600;
}

.countdown div small {
    font-size:0.6em;
    color: #000;
}

.bg-dark div small{
    color: #fff!important;
}



.nutria-sugerencia{
    display: flex;
    flex-direction: column;
    color: #6d28d9;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.firma{
    display: inline-flex;
    flex-direction: row;
    padding: 0!important;
}
.text-firma{
    display: flex;
    flex-direction: column;
    color: #6d28d9;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.dark-mode-active{
    color: #fff;
}

#row-memes .col-4 {
    margin-bottom: 10px;
}

.icono-claro {
    color: white;
  }
  
  .icono-oscuro {
    color: black;
  }
  